.container {
  animation-fill-mode: forwards;
  background-color: var(--white);
  border: 1px solid var(--mona-lisa);
  border-radius: 0.25rem;
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2), -0.2rem -0.2rem 0.3rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  opacity: 0;
  padding: 1rem;
}

.scores {
  margin-top: 1rem;
}

.item {
  align-items: center;
  border-bottom: 0.15rem dotted var(--mona-lisa);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.item:last-of-type {
  border-bottom: none;
}
