:root {
  --cod-gray: #464646;
  --content-width: 64rem;
  --dodger-blue: #3A86FF;
  --dusty-gray: #979797;
  --gallery: #F7F6F4;
  --granny-smith-apple: #90ED8F;
  --mona-lisa: #FFA69E;
  --quick-transition-duration: 200ms;
  --tara: #D8F3DC;
  --transition-duration: 290ms;
  --transition-function: cubic-bezier(0.79, 0.01, 0.38, 0.99);
  --white: #FFF;
}
